body {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    color: #3a241d;
    text-align: center;
}
#pagina{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.contenedor{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #eee;
	max-height: 100%;
    max-width: 20%;
	padding: 10px;
    justify-self: center;
}
.componente {
	max-width: 100%;
    max-height: 100%;
    position: relative;
	z-index: 2;
}
#placita{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.cielo {
	background: #BDE6F1;
}

.suelo {
	background: #275f1e;
}